body
{
    background-color: black;
}


.nav-text
{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 66px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selected-nav-text
{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 66px;

color: #F590DD;
}

.selected-nav-text:hover
{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 66px;

color: #F590DD;
}

.body-gradient{
    background: linear-gradient(180deg, #201622 0%, #3E1373 58.85%, #7E00A3 97.4%);
    box-shadow: 14px -8px 32px 7px rgba(0, 0, 0, 0.25);
    border-radius: 70px 70px 0px 0px;
    margin: 50px 50px 0px 50px;
    padding: 50px;
}

.body-bottom
{
    background: black;
    box-shadow: 14px -8px 32px 7px rgba(0, 0, 0, 0.25);
    margin: 0px 50px 50px;
    padding: 50px
}

.jumbotron-text
{
    font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 91px;
letter-spacing: 0.08em;

text-shadow: 4px 9px 11px rgba(0, 0, 0, 0.25);
background: linear-gradient(245.36deg, #0FF2F0 34.28%, #C703BA 101.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.jumbotron-text-small
{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 39px;
letter-spacing: 0.05em;

color: #FFFFFF;
}

.heading-white-text
{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 39px;
letter-spacing: 0.05em;

color: #FFFFFF;
}

.subheading-white-text
{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0.05em;

color: #FFFFFF;
}

.jumbotron{
    background: transparent;
}

.nav-btn{
    background: linear-gradient(90deg, #3E2677 0%, #661687 50.56%, #D500C1 100%);
border: 4px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
border-radius: 70px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
} 

.textbox{
    background: #F4F4F4;
    border-radius: 63px;
}

label{
    color: #F4F4F4;
}

h1, h2, h3, hr{
    color: #F4F4F4;
}

.bolded{
    background-color: #C703BA;
}

.klasemen-bigtext{
    background: linear-gradient(245.36deg, #0FF2F0 34.28%, #C703BA 101.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 127%;
    /* identical to box height, or 366px */

    text-align: center;
    letter-spacing: 0.08em;
}

.klasemen-table{
    background: linear-gradient(232.59deg, #30266F 0.66%, #3954A5 27.42%, #70CEE7 56.73%, #EBF7F6 77.74%);
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.klasemen-table-header{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    color: white;
}